
body {
  margin: 0;
  padding: 0;
}
/*rimozione margini*/


.sfondo {
  background-color: #4da3ff; /*tonalità blu presa da penpot*/
  height: 60px;            /* altezza della fascia */
  align-items: center;      /* centra verticalmente */
  position: relative;       /* per posizionare il logo */
  overflow: hidden;         /*nasconde quello che esce fuori dal contenitore*/
}

/* Contenitore che racchiude pattern + logo */
.contenitore {
    background-image: 
  position: relative;
  height: 100px;
  width: 100px;
}


.pattern {
  position: absolute;   /* messo come sfondo dietro al logo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    /* adatta l’immagine */
  z-index: 0;           /* resta dietro al logo */
}


.logo {
  position: absolute; 
  height: 30px;  /* per misurare l'altezza verticale*/
  margin-top: 20px; /* margine sopra */
  margin-left: 50px; /* margine sinistro */
  z-index: 1;
}

.contenuto {
  width: 70%;
  margin: 20px auto;
}

h1 {
  font-size: 70px;
  margin: 3px;
}

.autore {
  color: #555;
  font-size: 14px;
  margin: 0;
  padding: 0;

}

.blue {
  color: #4da3ff;
}

.foto1 {
  width: 70%;
  margin: 15px 0;
}
.foto2 {
  width: 50%;
  margin: 15px 0;
}

.descrizione1 {
  font-size: 12px;
  color: #444;
  margin: 0;
  padding: 0;
}

.descrizione2 {
  font-size: 12px;
  color: #444;
  width: 50%;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.5;
  font-size: 15px;
}

mark {
  background-color: yellow;
}