
body {
  margin: 0;
  padding: 0;
}
/*rimozione margini*/


.sfondo {
  background-color: #4da3ff; /*tonalità blu presa da penpot*/
  height: 60px;            /* altezza della fascia */
  align-items: center;      /* centra verticalmente */
  position: relative;       /* per posizionare il logo */
  overflow: hidden;         /*nasconde quello che esce fuori dal contenitore*/
}

/* Contenitore che racchiude pattern + logo */
.contenitore {
    background-image: 
  position: relative;
  height: 100px;
  width: 100px;
}


.pattern {
  position: absolute;   /* messo come sfondo dietro al logo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    /* adatta l’immagine */
  z-index: 0;           /* resta dietro al logo */
}


.logo {
  position: absolute; 
  height: 30px;  /* per misurare l'altezza verticale*/
  margin-top: 20px; /* margine sopra */
  margin-left: 50px; /* margine sinistro */
  z-index: 1;
}

.contenuto {
  width: 70%;
  margin: 20px auto;
}

h1 {
  font-size: 70px;
  margin: 3px;
}

.autore {
  color: #555;
  font-size: 14px;
  margin: 0;
  padding: 0;

}

.blue {
  color: #4da3ff;
}

.foto1 {
  width: 70%;
  margin: 15px 0;
}
.foto2 {
  width: 50%;
  margin: 15px 0;
}

.descrizione1 {
  font-size: 12px;
  color: #444;
  margin: 0;
  padding: 0;
}

.descrizione2 {
  font-size: 12px;
  color: #444;
  width: 50%;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.5;
  font-size: 15px;
}

mark {
  background-color: yellow;
}

/* TABELLA */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #4da3ff;
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
}

.riga-azzurra {
  background-color: #cfe9ff;
}

h3 {
  margin-top: 30px;
}

.articoli {
    color: #898989;
    margin-left: 35px;
}

.img1 {
  position: relative; 
      display: block;
      margin-left: 35px;
}

.monitor {
  display: block; /* Rimuove spazio sotto l'immagine */
      width: 100%; /* Assicura che l'immagine sia a grandezza piena del container */
      position: relative; /* Necessario se si vuole usare z-index per l'immagine */
      z-index: 0; /* Assicura che l'immagine sia dietro altri elementi */
}

.testo1 {position: absolute; /* Posiziona il testo rispetto al container */
      top: 10%;  /* per portarlo verso l'alto*/
      left: 5%; /* per muovere a sinistra o a destra*/
      transform: translate(-50%, -50%); /* Centra il testo */
      color: white; 
      font-size: 50 px; 
      font-weight: bold; 
      text-align: center; /* Centra il testo all'interno del suo div */
      z-index: 1; /* Assicura che il testo sia sopra l'immagine */
      padding: 10px; /* Aggiunge spazio intorno al testo */}

      .img2 {
  position: relative; 
      display: inline-block;
      margin-left: 35px;
}

.grafico {
  position: relative; /* Necessario se si vuole usare z-index per l'immagine */
      z-index: 0; /* Assicura che l'immagine sia dietro altri elementi */
}

.testo2 {position: absolute; /* Posiziona il testo rispetto al container */
      top: 10%;  /* per portarlo verso l'alto*/
      left: 35%; /* per muovere a sinistra o a destra*/
      transform: translate(-50%, -50%); /* Centra il testo */
      color: white; 
      font-size: 50 px; 
      font-weight: bold; 
      text-align: center; /* Centra il testo all'interno del suo div */
      z-index: 1; /* Assicura che il testo sia sopra l'immagine */
      padding: 10px; /* Aggiunge spazio intorno al testo */}
      
      
      